<h1>Listing haris</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @haris.each do |hari| %>
  <tr>
    <td><%= hari.name %></td>
    <td><%= link_to 'Show', hari %></td>
    <td><%= link_to 'Edit', edit_hari_path(hari) %></td>
    <td><%= link_to 'Destroy', hari, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hari', new_hari_path %>
